@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  margin: 0;

  font-family: "Space Grotesk", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* You can add custom utilities here */
@layer utilities {
  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }
}
